@model MovieEntryForm

<h2>Submission Received!</h2>
<h3>Thank you for adding @Model.Title to the database.</h3>
<h4>Click <a asp-controller="Home" asp-action="MovieEntryForm">here</a> to add another movie to the list.</h4>