@model MovieEntryForm

<h2>Confirm Deletion.</h2>
<br />
<h3>Movie Title: @Model.Title</h3>

<form method="post">

    <input type="hidden" asp-for="MovieID" /> @*You always need to add the application ID to the form for the post method to work*@

    @* Buttons for delete an cancelation *@
    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="MovieDatabase">Cancel</a>
</form>