@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1>Welcome to....The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="MovieEntryForm">Add a movie to the Database!</a>
</div>
